<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{home.title}">Good Thymes Virtual Grocery</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/resources/css/style.css}" />
</head>
<body>
	<div>
		<img src="../../images/gtvglogo.png" alt="GTVG logo" title="GTVG logo"
			th:src="@{/images/gtvglogo.png}" th:alt-title="#{logo}" />
	</div> 
	<p>Welcome to our grocery store, Sebastian!</p>
	<p>
		<span th:text="${#calendars.format(today,'dd MMMM yyyy')}"> </span>
	
	</p>
	 
	<div th:each="prod : ${products}">
        <span th:text="${prod.name}">Onions</span>
        <span th:text="${prod.price.value}">2.41</span>
      </div>> 
      
      
	<p>Please select an option</p>
	<ol>
		<li><a href="product/list.html" th:href="@{/product/list}">Product
				List</a></li>
		<li><a href="order/list.html" th:href="@{/order/list}">Order
				List</a></li>
		<li><a href="subscribe.html" th:href="@{/subscribe}">Subscribe
				to our Newsletter</a></li>
		<li><a href="userprofile.html" th:href="@{/userprofile}">See
				User Profile</a></li>
	</ol>
	<p>
		Now you are looking at a <span th:text="'working web application'">template
			file</span>.
	</p>
<!-- 	<div th:include="footer::copy">&copy; 2011 The Static Templates</div> -->
</body>
</html>