
<!-- Main component for a primary marketing message or call to action -->
<div class="row" th:fragment="create_commande">
	<div class="col-sm-5">
		<img width="100%" src="/resources/images/menu.jpg" alt="menu" />
	</div>

	<div class="col-sm-7">
		<h2>Passer votre commande</h2>
		<form>
			<div class="form-group">
				<label th:text="#{cmd.create.name}">Nom</label> <input type="text"
					class="form-control" name="name"
					th:placeholder="#{cmd.create.name.placeholder}" />
			</div>


			<fieldset>
				<legend th:text="#{cmd.create.starter}">Entrées</legend>

				<div class="demi">
					<label> <input type="checkbox" /> Guacamole Chips
					</label>
				</div>

			</fieldset>

			<fieldset>
				<legend th:text="#{cmd.create.main_course}">Plats</legend>

				<div class="demi">
					<span>Tacco del diablo</span> <select class="form-control">
						<option value="">Nope</option>
						<option value="">Poulet mariné grillé</option>
						<option value="">BBQ Pulled Pork</option>
						<option value="">"Carnitas" Pork confit</option>
					</select>
				</div>

				<div class="demi">
					<span>Diablo Burrito</span> <select class="form-control">
						<option value="">Nope</option>
						<option value="">Poulet mariné grillé</option>
						<option value="">BBQ Pulled Pork</option>
						<option value="">"Carnitas" Pork confit</option>
					</select>
				</div>

			</fieldset>


			<fieldset>
				<legend th:text="#{cmd.create.dessert}">Dessert</legend>

				<div class="demi">
					<label> <input type="checkbox" /> Cupe Cake
					</label>
				</div>

				<div class="demi">
					<label> <input type="checkbox" /> Fromage Blanc
					</label>
				</div>

			</fieldset>
			<br /> <br />
			<button type="submit" class="btn btn-primary"
				style="display: block; width: 100%;" th:text="#{cmd.create.submit}">Commander</button>
		</form>
	</div>


</div>
