
<!-- Main component for a primary marketing message or call to action -->
<div class="row" th:fragment="create_commande">
	<div class="col-sm-5">
		<img width="100%" src="/resources/images/menu.jpg" alt="menu" />
	</div>

	<div class="col-sm-7">
		<h2>Passer votre commande</h2>
		<form th:action="@{order}" method="POST" th:object="${order}">
			<div class="form-group">
				<label th:text="#{cmd.create.name}">Nom</label> 
					<input 	type="text"
							class="form-control" 
							th:field="*{name}"
							th:placeholder="#{cmd.create.name.placeholder}" />
			</div>


			<fieldset>
				<legend th:text="#{cmd.create.starter}">Entrées</legend>
				<div class="demi" th:each="prod : ${products[types['ENTREE']]}">
					<label>
						<input type="checkbox" th:value="${prod.id}" /> 
						<span th:text="${prod.name}">Guacamole Chips</span>
					</label>
				</div>

			</fieldset>

			<fieldset>
				<legend th:text="#{cmd.create.main_course}">Plats</legend>
				<div class="demi" th:each="prod : ${products[types['PLAT']]}">
					<span th:text="${prod.name}">Tacco del diablo</span>
					<select class="form-control" th:field="*{plats}">
						<option value=""></option>
						<option th:each="ingr : ${prod.ingredients}" 
								th:value="${prod.id}+'__'+${ingr}" 
								th:text="${ingr}">Ingrédient 1</option>
					</select>
				</div>

			</fieldset>


			<fieldset>
				<legend th:text="#{cmd.create.dessert}">Dessert</legend>

				<div class="demi" th:each="prod : ${products[types['DESSERT']]}">
					<label><input type="checkbox" th:value="${prod.id}" /> <span th:text="${prod.name}">Guacamole Chips</span></label>
				</div>

			</fieldset>
			<br /> <br />
			<button type="submit" class="btn btn-primary"
				style="display: block; width: 100%;" th:text="#{cmd.create.submit}">Commander</button>
		</form>
	</div>


</div>
