<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>



	<header id="header" role="banner" th:fragment="header">
		<img src="/resources/images/banner.jpg" alt="El Taco Del Diablo" />

		<!-- Static navbar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/}" th:text="#{nav.menus}">Menus du jour</a></li>
						<li><a th:href="@{/order/}" th:text="#{nav.commands}">Commandes</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</header>
	
	
	
	
	<footer>FOOTER</footer>
	
	
</body>
</html>
