<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>



	<header id="header" role="banner" th:fragment="header">
		<img src="/resources/images/banner.jpg" alt="El Taco Del Diablo" />

		<!-- Static navbar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#" th:text="#{nav.menus}">Menus du jour</a></li>
						<li class="active"><a href="#" th:text="#{nav.products}">Home</a></li>
						<li><a href="#" th:text="#{nav.commands}">Commands</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul></li>
					</ul>
					<!--             <ul class="nav navbar-nav navbar-right"> -->
					<!--               <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li> -->
					<!--               <li><a href="../navbar-static-top/">Static top</a></li> -->
					<!--               <li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
					<!--             </ul>  -->
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</header>
	
	
	
	
	<footer>FOOTER</footer>
	
	
</body>
</html>
